

    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration !</h1>
        <form name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
        
        <div class="form-group">
                <label for="commonName">Common Name</label> 
                <input id="commonName" name="commonName" type="text" placeholder="Adam Smith" class="form-control" ng-model="ctrl.user.commonName" />
        </div>

        <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                    </div>
                    <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
        </div>
            
        <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                </div>
        </div>
            
        <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" placeholder="something secret" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                        </div>
                        <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                <span class="glyphicon glyphicon-alert"></span> Password do not match
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input id="contactNumber" name="contactNumber" type="number" class="form-control" ng-model="ctrl.user.contactNumber" ng-pattern= "ctrl.contactNumberFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid (e.g 384757473)
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M"/>Male
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" ng-checked="true"/>Female
                
        </div>

        <div class="form-group">
                <label for="nationality">Nationality</label>
                <select ng-model="ctrl.user.selectedNationality" class="form-control" id="nationality">
                        <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
                </select>
        </div>
            
        <div class="form-group">
                <label for="age">Your current age</label>
                <select ng-model="ctrl.user.selectedAge" class="form-control" id="age">
                        <option ng-repeat="age in ctrl.ages" value="{{age.value}}">{{age.name}}</option><br/>
                </select>
        </div>

        <div class="form-group">
                <label for="noKid">How many child(ren) do you have?</label>
                <select ng-model="ctrl.user.selectedNoKid" class="form-control" id="noKid">
                        <option ng-repeat="noKid in ctrl.noKids" value="{{noKid.value}}">{{noKid.name}}</option><br/>
                </select>
        </div>


        <div class="form-group">
                <label for="region">Which region do you stay in?</label>
                <br/>
                <input id="region" name="region" ng-model="ctrl.user.region" type="radio" value="N"/>North
                <br/>
                <input id="region" name="region" ng-model="ctrl.user.region" type="radio" value="S"/>South
                <br/>
                <input id="region" name="region" ng-model="ctrl.user.region" type="radio" value="E"/>East
                <br/>
                <input id="region" name="region" ng-model="ctrl.user.region" type="radio" value="W" ng-checked="true"/>West
        </div>

        <div class="form-group">
                <label for="interest">What events are you interested in?</label>
                <br/>
                <select ng-model="ctrl.user.selectedInterest" class="form-control" id="interest">
                        <option ng-repeat="interest in ctrl.interests" value="{{interest.value}}">{{interest.name}}</option>
                </select>

        </div>


        <div class="form-group">
        <hr/>
        <input id="submit" name"submit" type="submit" class="btn btn-success" onclick="myFunction()"/>
        <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
                
        <script>
        function myFunction() {
            alert("Thank you for your submission");
        }
        </script>
        </div>
                
        </form>

    </div>
    