
<!-- SERVICE SECTION -->
<section id="service" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                    <!-- SECTION TITLE -->
                    <h2>Our Goal</h2>
                    <p>We want to connect as parents to fellow parents as we embreace the journey of raising up our wonderful children. </p>
               </div>

               <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s"  id="button">
                    <div class="service-thumb">
                         <i class="fa fa-smile-o"></i>
                         <h4>Who We Are</h4>
                         <p>We are part of Central Christian Church. <a href="/views/home.html">Home</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-thumb bg-grey">
                         <i class="fa fa-camera"></i>
                         <h4 class="white-color">Upcoming Events</h4>
                         <p>Be it you are parent of 1 or many, preschoolers to adult children, come and check out our <a href="events.html">events</a>.</p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-thumb">
                         <i class="fa fa-picture-o"></i>
                         <h4>Past Events</h4>
                         <p>For <a href="/views/login.html">members</a> only.</p>
                         <p>You can view and download the photos taken at the events.</p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="service-thumb">
                         <i class="fa fa-clone"></i>
                         <h4>Join Us</h4>
                         <p>If you are new to us, <a href="/views/form.html">sign up</a> so that you can receive notifications of upcoming events.</p>
                    </div>
               </div>
               
          </div>
     </div>
</section>

<!--
ABOUT SECTION
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">
               
               <div class="col-md-4 col-sm-8">
                    <div class="about-image-thumb">
                         <img src="images/profile-image.jpg" class="wow fadeInUp img-responsive" data-wow-delay="0.2s" alt="about image">
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                              <li><a href="#" class="fa fa-behance"></a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-8 col-sm-12">
                    <div class="about-thumb">
                         SECTION TITLE
                         <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                              <h2>a little more about Kalay</h2>
                              <p>Graphic Designer, Creative Photographer & Front-end Developer</p>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <p>Praesent eleifend tristique nisl, nec finibus urna posuere nec. Quisque vel nunc eget arcu maximus facilisis non eu nisi. Aliquam ullamcorper est a nisl imperdiet luctus.</p>
                              <p>Sed sed convallis odio. Nulla scelerisque libero efficitur diam fermentum, quis tincidunt urna placerat. Maecenas sed tortor sed nisi semper ultricies. Nulla ornare metus in massa mollis scelerisque.</p>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>


WORK SECTION
<section id="work" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    SECTION TITLE
                    <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                         <h2>Seleted Designs</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur venenatis tincidunt.</p>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.4s">
                    WORK THUMB
                    <div class="work-thumb">
                         <a href="images/work-image1.jpg" class="image-popup">
                              <div class="work-thumb-overlay">
                                   <h4 class="white-color">First Title</h4>
                                   <h2>Graphic Design</h2>
                              </div>
                              <img src="images/work-image1.jpg" class="img-responsive" alt="Work 1">
                         </a>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.4s">
                    WORK THUMB
                    <div class="work-thumb">
                         <a href="images/work-image2.jpg" class="image-popup">
                              <div class="work-thumb-overlay">
                                   <h4 class="white-color">Title Two</h4>
                                   <h2>Photography</h2>
                              </div>
                              <img src="images/work-image2.jpg" class="img-responsive" alt="Work 2">
                         </a>
                    </div>
               </div>

               <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.4s">
                    WORK THUMB
                    <div class="work-thumb">
                         <a href="images/work-image3.jpg" class="image-popup">
                              <div class="work-thumb-overlay">
                                   <h4 class="white-color">Third Title</h4>
                                   <h2>illustration</h2>
                              </div>
                              <img src="images/work-image3.jpg" class="img-responsive" alt="Work 3">
                         </a>
                    </div>
               </div>

          </div>
     </div>
</section>
-->




<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- navbar transparent navbar-static-top / navbar-fixed-bottom -->
            <h3>
                <a class="nav-text" ui-sref="Home" ui-sref-active="active">Home</a>
                <a class="nav-text" ui-sref="Add" >Add</a>
                <!--<a class="nav-text" ui-sref="Edit" >Edit</a>-->
            </h3>
    </nav>
    
    <ui-view></ui-view> <!-- render view -->
    