<h1>Login</h1>
<div class="panel panel-default">
  <div class="panel-body">
  <form name='loginForm' ng-submit='ctrl.login()' novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username" ng-model='ctrl.user.username'>
    </div>
      
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" ng-model='ctrl.user.password'>
    </div>
        
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
  <div ng-if='ctrl.msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
</div>
</div>